*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #48a1ba;
}
.container{
    background: #efefef;
        margin: 15px auto;
        width:900px;
        /* height: 800px; */
        padding: 10px;
        border-radius: 7px;
}

.articolo{

    margin: 6px auto;
    width: 290px;
    height: 350px;
    background-color: lightgrey;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

.imagesize{
    max-width: 270px;
    max-height: 260px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;

}

.sconto30{
    width: 70px;
    height: 40px;
    position: absolute;
    background-image: url(https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Sale-Stickers-PNG/-30%25_Off_Sale_PNG_Clipart_Image.png?m=1438138501);
    background-size: cover;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 2px;
}

.sconto50{
    width: 70px;
    height: 40px;
    position: absolute;
    background-image: url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Sale-Stickers-PNG/-50%25_Off_Sale_PNG_Clipart_Image.png?m=1507172109);
    background-size: cover;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 2px;
}

.heart{
    position: absolute;
    bottom: 5px;
    left: 45%;
    text-align: center;;
    font-size: 50px;
    color: darkgrey;
}

.articolo:hover{
    box-shadow: 2px 2px 2px #606263;
}

.heart:hover{

    font-size: 55px;
    color: darkred;
    cursor: pointer;
}
